Repository voxpupuli/puppet-wireguard, pull requests merged in 2021-12, with the labels that each got.

#36 Add possibility to define routes
  manifests/interface.pp
  spec/defines/interface_spec.rb
  spec/fixtures/test_files/peers_routes.network
  templates/network.epp
Labels: enhancement

#38 Add description to peers
  spec/defines/interface_spec.rb
  spec/fixtures/test_files/peers.netdev
  templates/netdev.epp
  types/peers.pp
Labels: enhancement

#39 modulesync 5.1.0
  .msync.yml
  .puppet-lint.rc
  .sync.yml
  Gemfile
  Rakefile
Labels: modulesync

#40 Release Version 0.10.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
