Repository voxpupuli/puppet-wireguard, pull requests merged in 2022-12, with the labels that each got.

#70 modulesync 5.4.0
  .github/workflows/ci.yml
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#69 Add a firewall_mark parameter to wireguard::interface
  REFERENCE.md
  manifests/interface.pp
  manifests/provider/systemd.pp
  manifests/provider/wgquick.pp
  spec/defines/interface_spec.rb
  templates/netdev.epp
  templates/wireguard_conf.epp
Labels: enhancement

#71 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#72 Release 2.2.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
