Repository voxpupuli/puppet-wireguard, pull requests merged in 2022-03, with the labels that each got.

#43 Create private_key from parameter if wanted
  manifests/interface.pp
  spec/defines/interface_spec.rb
Labels: enhancement

#44 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#45 Release 1.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
