Repository voxpupuli/puppet-wireguard, pull requests merged in 2022-08, with the labels that each got.

#50 Release 1.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#51 Move preshared_key from interface to peer configuration
  manifests/interface.pp
  spec/defines/interface_spec.rb
  spec/fixtures/test_files/peers.netdev
  templates/netdev.epp
  types/peers.pp
Labels: backwards-incompatible

#54 Add wg quick as another provider for interfaces
  manifests/interface.pp
  manifests/provider/systemd.pp
  manifests/provider/wgquick.pp
  spec/acceptance/init_spec.rb
  spec/defines/interface_spec.rb
  templates/wireguard_conf.epp
Labels: enhancement

#55 Throw warning instead of fail if peers is empty
  manifests/interface.pp
Labels: bug

#53 (#52) Fix dependency cycle
  manifests/interface.pp
  spec/classes/wireguard_spec.rb
Labels: bug

#58 Release 2.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#59 Workaround for missing ipv6 addresses
  REFERENCE.md
  manifests/interface.pp
Labels: bug

#60 Release 2.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#61 Fix $addresses hash needs to accept any type of v4 or v6 address
  manifests/interface.pp
  manifests/provider/systemd.pp
  manifests/provider/wgquick.pp
  spec/defines/interface_spec.rb
  templates/wireguard_conf.epp
Labels: bug

#62 Release Version 2.0.3
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#64 Fix wgquick template and extend tests
  spec/defines/interface_spec.rb
  templates/wireguard_conf.epp
Labels: bug

#65 Release 2.0.4
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#66 Add pre/post up/down commands for wgquick
  manifests/interface.pp
  manifests/provider/wgquick.pp
  spec/defines/interface_spec.rb
  templates/wireguard_conf.epp
Labels: enhancement
